@import url(/styles/fonts.css);

html, body{
   background-image:url(../assets/picturesForPortfolio/white.jpg);
    box-sizing:border-box;
    overflow-x:hidden;
    padding:0%;
    margin:0%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
:root {
    /*theme colors */
  
    --text-gray: #3f4954;
    --text-light: #5296a5;
    --bg-color: #f4b067;
    --white: #ffffff;
    --cafe: #a57548;
  
    /*gradient color*/
    --sky: linear-gradient(to right, #c1c161 0%, #c1c161 0%, #d4d4b1 100%);
    --love: "love", cursive;
    --armstrong: "armstrong", cursive;
    --elite: "elite", cursive;
    --crushed: "crushed", cursive;
  }
  a {
    text-decoration: none;
    color: var(--text-gray);
  }
  .flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  ul {
    list-style-type: none;}
    
    .button.btn {
        border: none;
        border-radius: 2rem;
        padding: 1rem 3rem;
        font-size: 1.8rem;

        cursor: pointer;
        background: var(--text-light);
  }
    /*--------x------------global-----------------x------------------*/
 
    /*----------------------navigation------------------------*/
    nav {
      background: #fff;
      padding: 0 2rem;
      height: 0rem;
      min-height: 10vh;
      overflow: hidden;
      transition: height 3s ease-in-out;
      
    }
    
     .nav-menu {
      justify-content: space-between;
    }
    
 .toggle-collapse {
      position: absolute;
      top: 0%;
      width: 90%;
      cursor: pointer;
      display: none;
    }
   .toggle-collapse .toggle-icons {
      display: flex;
      justify-content: flex-end;
      padding: 1.7rem 0;
    }
    
    .toggle-collapse 
    
    .nav-items {
      list-style-type: none;
      display: flex;
      margin: 0;
      position: relative;
    }
    
    nav .nav-items .nav-link {
      padding: 1.6rem 1rem;
      font-size: 1rem;
      position: relative;
      font-family: var(--love);
      font-size: 1.1rem;
    }
    
    nav .nav-items .nav-link:hover {
      background-color: var(--bg-color);
    }
    
    nav .nav-items .nav-link:hover a {
      color: var(--white);
    }
    
    nav .nav-brand a {
      font-size: 1.6rem;
      padding: 1rem 0;
      display: block;
      font-family: var(--armstrong);
      font-size: 1.6rem;
    }
    
    nav .social {
      padding: 1.4rem 0;
    }
    nav .social i {
      padding: 0 0.2rem;
    }
    nav .social i:hover {
      color: var(--text-light);}
       /*--------------x-------navigation------x-----------------*/
      
      
       /*-----------------MAIN CONTENT---------------------------*/
      h1,h2{
        text-align: center;
        color:rgb(255, 242, 124);
        padding:1rem 6rem;
        float:left;
        
        
        
  
      
      }
      h1{
        color:#cfaf44 !important;
        font-size:75px;
        font-family:var(--love) !important;
        
      }
      
      
      img{
           border:5px solid#adadad ;
      
           margin :.7rem 4rem;}
      
      
           
      
      
      
      
      
      
      
      
      
      
      
      
      
      /*---------------sidebar--------------*/
        .image{
         display:none;
        
         float:right;
        
        
     
      }
      /*---------x-----sidebar--------x-----*/

/*-------x---------MAIN CONTENT-----------------x--------*/

























       @media only screen and (max-width: 750px) {
        .nav .nav-menu,
        .nav .nav-items {
          flex-direction: column;
        }
        .nav .toggle-collapse {
          display: initial;
        }
      }
      /*viewport less than or equal to 750px */
      
